

<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li><a href="/">Home</a></li>
		<% if user_signed_in? %>
			<li><a href="#">Signed in as <%= current_user.email %>. Not you?</a></li>
			<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
		<% else %>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
			<li><%= link_to "Sign in", new_user_session_path %>		</li>
		<% end %>
	</ul>
	<h3 class="muted">File storage </h3>
</div>